@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Manjari:wght@100;400&family=Montserrat:wght@100;400;600&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.container .nav {
  position: relative;
  z-index: 10;
  width: 100%;
  box-shadow: 0 0 10px rgb(128, 128, 128);
  letter-spacing: 1.5px;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
}
.container .nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin: 0 2rem;
  font-family: "Chewy", cursive;
  text-transform: uppercase;
}
.container .nav__list a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.container .nav__listlogo {
  list-style: none;
  margin-right: auto;
}
.container .nav__listitem {
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding: 1.5rem 1rem;
  transition: all 0.3s ease-in linear;
}
.container .nav__listitem::after {
  content: "";
  width: 0;
  height: 0.2rem;
  border-radius: 0.2rem;
  position: absolute;
  left: 1rem;
  bottom: 0.8rem;
  background-image: linear-gradient(90deg, #5c88c0 0%, #5021c9 100%);
  transition: width 200ms ease-in;
}
.container .nav__listitem:hover::after, .container .nav__listitem:focus::after {
  width: 70%;
}
.container .nav__listitem:hover ul, .container .nav__listitem:focus ul {
  opacity: 1;
  visibility: visible;
}
.container .nav__listitemdrop {
  position: absolute;
  top: 4.5rem;
  left: -1rem;
  box-shadow: 0 0 10px rgb(128, 128, 128);
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  width: 12rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  opacity: 0;
  visibility: hidden;
  transition: width 250ms ease-in;
  letter-spacing: 1.5px;
}
.container .nav__listitemdrop li {
  list-style: none;
  padding: 0.5rem;
  border-radius: 2rem;
  transition: all background-color 300ms ease-in-out;
  background-image: linear-gradient(90deg, #5c88c0 0%, #5021c9 100%);
}
.container .nav__listitemdrop li:hover, .container .nav__listitemdrop li:focus {
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  letter-spacing: 1.5px;
}
.container div.homePage {
  position: relative;
}
.container div.homePage h1 {
  font-family: "Chewy", cursive;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-left: 90px;
  color: #6e68cb;
  font-size: 3.5em;
  padding-top: 150px;
  position: relative;
  z-index: 2;
}
.container div.homePage div.mainImgs {
  display: block;
}
.container div.homePage div.mainImgs img.catHome {
  position: relative;
  width: 550px;
  height: 550px;
  float: right;
  padding-right: 40px;
  bottom: 200px;
  right: 300px;
}
.container div.homePage div.mainImgs img.dogHome {
  position: relative;
  width: 350px;
  height: 350px;
  float: right;
  padding-right: 40px;
  top: 40px;
  left: 490px;
}
.container div.homePage div.mainImgs img.dots1 {
  position: relative;
  width: 150px;
  height: 200px;
  float: right;
  padding-right: 40px;
  bottom: 120px;
  left: 700px;
  opacity: 50%;
}
.container div.homePage div.mainImgs img.dots2 {
  position: relative;
  width: 180px;
  height: 200px;
  float: right;
  padding-right: 40px;
  top: 400px;
  left: 500px;
  opacity: 50%;
  position: absolute;
}
.container div.homePage p {
  padding-left: 90px;
  padding-top: 60px;
  font-size: 1rem;
  font-family: "Manjari", sans-serif;
}
.container div.homePage p.click {
  padding-left: 120px;
  color: #6e68cb;
}
.container div.homePage section.btn {
  padding-left: 200px;
  padding-top: 15px;
}
.container div.homePage section.btn button.homeBtn {
  border: none;
  font-family: "Chewy", cursive;
  font-size: 1rem;
  background-image: linear-gradient(90deg, #5c88c0 0%, #5021c9 100%);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 2rem;
  letter-spacing: 1.5px;
  transition: all 200ms linear;
}
.container div.homePage section.btn button.homeBtn:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
.container div.homePage div.videoBackGround {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(90deg, #5c88c0 0%, #5021c9 100%);
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container div.homePage div.videoBackGround video.FureverVideo {
  width: 70%;
  height: auto;
  position: absolute;
  z-index: 3;
  border-radius: 2rem;
}
.container div.homePage div.wordSection {
  width: 100%;
  height: 20%;
  background-image: url(../images/background.png);
  border-image-repeat: repeat-x;
  position: absolute;
  margin-top: 50px;
}
.container div.homePage div.wordSection div.transparentBack {
  position: relative;
  background-image: linear-gradient(90deg, #142d4d 0%, #5840df 100%);
  width: 900px;
  height: 200px;
  display: flex;
  border-radius: 2rem;
  opacity: 95%;
  top: 50px;
  left: 275px;
  transition: all 0.3s ease-in linear;
}
.container div.homePage div.wordSection div.transparentBack h1.quoteHome {
  position: relative;
  font-family: "Chewy", cursive;
  color: white;
  font-size: 3rem;
  bottom: 105px;
  left: 150px;
  text-transform: lowercase;
  letter-spacing: 1.5px;
}
.container div.homePage div.wordSection div.transparentBack:hover {
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
.container div.footer {
  background-color: rgb(68, 68, 68);
  position: relative;
}
.container div.footer footer {
  width: 100%;
  background-color: aqua;
}
.container div.footer footer ul {
  display: flex;
  list-style-type: none;
}
.container div.footer footer ul li {
  width: 128px;
  height: 128px;
}
.container div.footer footer ul li a {
  width: 128px;
  height: 128px;
  display: block;
  transition: all 200ms linear;
}
.container div.footer footer ul li a#facebook {
  background: url("../images/socialsColor.png") 0px 0px;
}
.container div.footer footer ul li a#instagram {
  background: url("../images/socialsColor.png") 128px 0px;
}
.container div.footer footer ul li a#twitter {
  background: url("../images/socialsColor.png") 256px 0px;
}
.container div.footer footer ul li a#facebook:hover {
  background: url("../images/socialsBW.png") 0px 0px;
}
.container div.footer footer ul li a#instagram:hover {
  background: url("../images/socialsBW.png") 128px 0px;
}
.container div.footer footer ul li a#twitter:hover {
  background: url("../images/socialsBW.png") 256px 0px;
}/*# sourceMappingURL=style.css.map */