@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Manjari:wght@100;400&family=Montserrat:wght@100;400;600&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.container .nav {
  position: relative;
  z-index: 10;
  width: 100%;
  box-shadow: 0 0 10px rgb(128, 128, 128);
  letter-spacing: 1.5px;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
}
.container .nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin: 0 2rem;
  font-family: "Chewy", cursive;
  text-transform: uppercase;
}
.container .nav__list a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.container .nav__listlogo {
  list-style: none;
  margin-right: auto;
}
.container .nav__listitem {
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding: 1.5rem 1rem;
  transition: all 0.3s ease-in linear;
}
.container .nav__listitem::after {
  content: "";
  width: 0;
  height: 0.2rem;
  border-radius: 0.2rem;
  position: absolute;
  left: 1rem;
  bottom: 0.8rem;
  background-image: linear-gradient(90deg, #5c88c0 0%, #5021c9 100%);
  transition: width 200ms ease-in;
}
.container .nav__listitem:hover::after, .container .nav__listitem:focus::after {
  width: 70%;
}
.container .nav__listitem:hover ul, .container .nav__listitem:focus ul {
  opacity: 1;
  visibility: visible;
}
.container .nav__listitemdrop {
  position: absolute;
  top: 4.5rem;
  left: -1rem;
  box-shadow: 0 0 10px rgb(128, 128, 128);
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  width: 12rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  opacity: 0;
  visibility: hidden;
  transition: width 250ms ease-in;
  letter-spacing: 1.5px;
}
.container .nav__listitemdrop li {
  list-style: none;
  padding: 0.5rem;
  border-radius: 2rem;
  transition: all background-color 300ms ease-in-out;
  background-image: linear-gradient(90deg, #5c88c0 0%, #5021c9 100%);
}
.container .nav__listitemdrop li:hover, .container .nav__listitemdrop li:focus {
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  letter-spacing: 1.5px;
}
.container main.homeMain {
  width: 100vw;
  height: 100vh;
}
.container main.homeMain div.homePage {
  position: relative;
}
.container main.homeMain div.homePage h1 {
  font-family: "Chewy", cursive;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-left: 90px;
  color: #6e68cb;
  font-size: 3.5em;
  padding-top: 150px;
  position: relative;
  z-index: 2;
}
.container main.homeMain div.homePage div.mainImgs {
  display: block;
}
.container main.homeMain div.homePage div.mainImgs img.catHome {
  position: relative;
  width: 550px;
  height: 550px;
  float: right;
  padding-right: 40px;
  bottom: 200px;
  right: 300px;
}
.container main.homeMain div.homePage div.mainImgs img.dogHome {
  position: relative;
  width: 350px;
  height: 350px;
  float: right;
  padding-right: 40px;
  top: 40px;
  left: 490px;
}
.container main.homeMain div.homePage div.mainImgs img.dots1 {
  position: relative;
  width: 150px;
  height: 200px;
  float: right;
  padding-right: 40px;
  bottom: 120px;
  left: 700px;
  opacity: 50%;
}
.container main.homeMain div.homePage div.mainImgs img.dots2 {
  position: relative;
  width: 180px;
  height: 200px;
  float: right;
  padding-right: 40px;
  top: 400px;
  left: 500px;
  opacity: 50%;
  position: absolute;
}
.container main.homeMain div.homePage p {
  padding-left: 90px;
  padding-top: 60px;
  font-size: 1rem;
  font-family: "Manjari", sans-serif;
  letter-spacing: 1px;
}
.container main.homeMain div.homePage p.click {
  padding-left: 90px;
  color: #6e68cb;
}
.container main.homeMain div.homePage section.btn {
  padding-left: 200px;
  padding-top: 15px;
}
.container main.homeMain div.homePage section.btn button.homeBtn {
  border: none;
  font-family: "Chewy", cursive;
  font-size: 1rem;
  background-image: linear-gradient(90deg, #5c88c0 0%, #5021c9 100%);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 2rem;
  letter-spacing: 1.5px;
  transition: all 200ms linear;
}
.container main.homeMain div.homePage section.btn button.homeBtn:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
.container main.homeMain div.homePage div.videoBackGround {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(90deg, #5c88c0 0%, #5021c9 100%);
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container main.homeMain div.homePage div.videoBackGround video.FureverVideo {
  width: 70%;
  height: auto;
  position: absolute;
  z-index: 3;
  border-radius: 2rem;
}
.container main.homeMain div.homePage div.wordSection {
  width: 100%;
  height: 20%;
  background-image: url(../images/background.png);
  border-image-repeat: repeat-x;
  position: absolute;
  margin-top: 50px;
}
.container main.homeMain div.homePage div.wordSection div.transparentBack {
  position: relative;
  background-image: linear-gradient(90deg, #142d4d 0%, #5840df 100%);
  width: 900px;
  height: 200px;
  display: flex;
  border-radius: 2rem;
  opacity: 95%;
  top: 50px;
  left: 275px;
  transition: all 0.3s ease-in linear;
}
.container main.homeMain div.homePage div.wordSection div.transparentBack h1.quoteHome {
  position: relative;
  font-family: "Chewy", cursive;
  color: white;
  font-size: 3rem;
  bottom: 105px;
  left: 150px;
  text-transform: lowercase;
  letter-spacing: 1.5px;
}
.container main.homeMain div.homePage div.wordSection div.transparentBack:hover {
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
.container section.footer {
  background-color: #142d4d;
}
.container section.footer footer {
  width: 100%;
  height: 120px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 2080px;
}
.container section.footer footer ul.ulFooter {
  display: flex;
  list-style-type: none;
}
.container section.footer footer ul.ulFooter img {
  position: relative;
  width: 50px;
  height: 50px;
  left: 650px;
  top: 10px;
  padding: 2px;
}
.container section.footer footer ul.ulFooter img:hover {
  box-shadow: 0 0 10px rgb(128, 128, 128);
  border-radius: 2rem;
}
.container section.footer footer h1.h1Footer {
  color: rgb(0, 0, 0);
  font-family: "Manjari", sans-serif;
  text-align: center;
  font-size: 1rem;
  padding-top: 15px;
}

.container {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.container div.aboutPage {
  font-family: "Chewy", cursive;
  letter-spacing: 1px;
  padding-left: 90px;
  color: #6e68cb;
  font-size: 2em;
  padding-top: 150px;
  position: relative;
  z-index: 2;
  left: 40px;
}
.container div.aboutPage div.aboutImgs img.dogAbout {
  position: absolute;
  width: 500px;
  height: 500px;
  padding-right: 70px;
  top: 120px;
  left: 725px;
  z-index: 3;
}
.container div.aboutPage div.aboutImgs img.dots1 {
  position: absolute;
  width: 160px;
  height: 210px;
  float: right;
  padding-right: 40px;
  top: 100px;
  left: 1150px;
  opacity: 50%;
}
.container div.aboutPage div.aboutImgs img.dots2 {
  position: absolute;
  width: 180px;
  height: 200px;
  float: right;
  padding-right: 40px;
  top: 400px;
  left: 600px;
  opacity: 50%;
  position: absolute;
}
.container div.aboutPage p.aboutP {
  position: absolute;
  font-family: "Manjari", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  padding-top: 60px;
}
.container div.aboutPage p.ClickAbout {
  position: absolute;
  color: #6e68cb;
  font-family: "Manjari", sans-serif;
  font-size: 1rem;
  top: 560px;
  left: 150px;
}
.container div.aboutPage section.Aboutbtn {
  position: relative;
  padding-left: 175px;
  top: 350px;
}
.container div.aboutPage section.Aboutbtn button.homeBtn {
  border: none;
  font-family: "Chewy", cursive;
  font-size: 1rem;
  background-image: linear-gradient(90deg, #5c88c0 0%, #5021c9 100%);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 2rem;
  letter-spacing: 1.5px;
  transition: all 200ms linear;
}
.container div.aboutPage section.Aboutbtn button.homeBtn:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
.container div.aboutPage div.wordSection {
  width: 100%;
  height: 100%;
  background-image: url(../images/background.png);
  border-image-repeat: repeat-x;
  position: absolute;
  margin-top: 550px;
  right: 40px;
}
.container div.aboutPage div.wordSection div.transparentBack {
  position: relative;
  background-image: linear-gradient(90deg, #142d4d 0%, #5840df 100%);
  width: 900px;
  height: 200px;
  display: flex;
  border-radius: 2rem;
  opacity: 95%;
  top: 50px;
  left: 275px;
  transition: all 0.3s ease-in linear;
}
.container div.aboutPage div.wordSection div.transparentBack h1.quoteHome {
  position: relative;
  font-family: "Chewy", cursive;
  color: white;
  font-size: 3rem;
  top: 30px;
  left: 200px;
  text-transform: lowercase;
  letter-spacing: 1.5px;
}
.container div.aboutPage div.wordSection div.transparentBack:hover {
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
.container section.footerAbout {
  background-color: #142d4d;
}
.container section.footerAbout footer {
  width: 100%;
  height: 120px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 1230px;
}
.container section.footerAbout footer ul.ulFooter {
  display: flex;
  list-style-type: none;
}
.container section.footerAbout footer ul.ulFooter img {
  position: relative;
  width: 50px;
  height: 50px;
  left: 650px;
  top: 5px;
  padding: 2px;
}
.container section.footerAbout footer ul.ulFooter img:hover {
  box-shadow: 0 0 10px rgb(128, 128, 128);
  border-radius: 2rem;
}
.container section.footerAbout footer h1.h1Footer {
  color: rgb(0, 0, 0);
  font-family: "Manjari", sans-serif;
  text-align: center;
  font-size: 1rem;
  padding-top: 15px;
}

.container {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.container div.petsPage {
  position: relative;
}
.container div.petsPage h1.fluffyFriends {
  font-family: "Chewy", cursive;
  letter-spacing: 1px;
  text-align: center;
  color: #6e68cb;
  font-size: 4em;
  padding-top: 150px;
  position: relative;
  z-index: 2;
}
.container div.petsPage ul.petsImgs {
  display: flex;
  list-style-type: none;
  position: relative;
  height: 100px;
  bottom: 70px;
}
.container div.petsPage ul.petsImgs img {
  width: 350px;
  height: 350px;
  display: flex;
  transform: translate(60%, 50%);
  padding: 20px;
  margin-bottom: 60px;
  z-index: 1;
  transition: all 300s ease-in-out linear;
}
.container div.petsPage ul.petsImgs img:hover {
  border-radius: 50%;
  box-shadow: 0 0px 10px 10px rgba(128, 128, 128, 0.4);
  filter: grayscale(100%);
}
.container div.petsPage section.PetsBtn1 {
  position: relative;
  padding-left: 340px;
  top: 400px;
  z-index: 5;
  width: 20px;
}
.container div.petsPage section.PetsBtn1 button.dogBtn {
  border: none;
  font-family: "Chewy", cursive;
  font-size: 1rem;
  background-image: linear-gradient(90deg, #5c88c0 0%, #5021c9 100%);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 2rem;
  letter-spacing: 1.5px;
  transition: all 200ms linear;
}
.container div.petsPage section.PetsBtn1 button.dogBtn:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
.container div.petsPage section.Petsbtn2 {
  position: relative;
  left: 680px;
  top: 360px;
  z-index: 5;
  width: 20px;
}
.container div.petsPage section.Petsbtn2 button.catBtn {
  border: none;
  font-family: "Chewy", cursive;
  font-size: 1rem;
  background-image: linear-gradient(90deg, #5c88c0 0%, #5021c9 100%);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 2rem;
  letter-spacing: 1.5px;
  transition: all 200ms linear;
}
.container div.petsPage section.Petsbtn2 button.catBtn:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
.container div.petsPage section.Petsbtn3 {
  position: relative;
  left: 1050px;
  top: 320px;
  z-index: 5;
  width: 20px;
}
.container div.petsPage section.Petsbtn3 button.rodentBtn {
  border: none;
  font-family: "Chewy", cursive;
  font-size: 1rem;
  background-image: linear-gradient(90deg, #5c88c0 0%, #5021c9 100%);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 2rem;
  letter-spacing: 1.5px;
  transition: all 200ms linear;
}
.container div.petsPage section.Petsbtn3 button.rodentBtn:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
.container div.petsPage div.AboutPets {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #5835b2;
  top: 500px;
}
.container div.petsPage div.AboutPets h1.MorePets {
  font-family: "Chewy", cursive;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  font-size: 4em;
  padding-top: 150px;
  position: relative;
  z-index: 2;
}
.container div.petsPage div.AboutPets h1.MorePets:hover {
  color: #86e3ce;
}
.container div.petsPage div.AboutPets p {
  position: absolute;
  color: #ffffff;
  font-family: "Manjari", sans-serif;
  font-size: 1rem;
  top: 360px;
  left: 390px;
  letter-spacing: 1px;
}
.container div.petsPage div.AboutPets p.TakeQuizBelow {
  position: absolute;
  color: #ffffff;
  font-family: "Manjari", sans-serif;
  font-size: 1rem;
  top: 600px;
  left: 650px;
  letter-spacing: 1px;
  text-align: center;
}
.container div.petsPage section.TakeQuizBtn {
  position: relative;
  left: 700px;
  top: 420px;
  z-index: 5;
  width: 20px;
}
.container div.petsPage section.TakeQuizBtn button.TakeQuiz {
  border: none;
  font-family: "Chewy", cursive;
  font-size: 1rem;
  background-color: #86e3ce;
  color: #000000;
  padding: 10px;
  border-radius: 2rem;
  letter-spacing: 1.5px;
  transition: all 200ms linear;
}
.container div.petsPage section.TakeQuizBtn button.TakeQuiz:hover {
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  color: white;
}
.container div.petsPage div.wordSection {
  width: 100%;
  height: 40%;
  background-image: url(../images/background.png);
  border-image-repeat: repeat-x;
  position: absolute;
  margin-top: 530px;
  right: 10px;
}
.container div.petsPage div.wordSection div.transparentBack {
  position: relative;
  background-image: linear-gradient(90deg, #142d4d 0%, #5840df 100%);
  width: 900px;
  height: 200px;
  display: flex;
  border-radius: 2rem;
  opacity: 95%;
  top: 45px;
  left: 275px;
  transition: all 0.3s ease-in linear;
}
.container div.petsPage div.wordSection div.transparentBack h1.quoteHome {
  position: relative;
  font-family: "Chewy", cursive;
  color: white;
  font-size: 3rem;
  top: 30px;
  left: 70px;
  text-transform: lowercase;
  letter-spacing: 1.5px;
}
.container div.petsPage div.wordSection div.transparentBack:hover {
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
.container section.footerPets {
  background-color: #142d4d;
}
.container section.footerPets footer {
  width: 100%;
  height: 120px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 2180px;
}
.container section.footerPets footer ul.ulFooter {
  display: flex;
  list-style-type: none;
}
.container section.footerPets footer ul.ulFooter img {
  position: relative;
  width: 50px;
  height: 50px;
  left: 650px;
  top: 10px;
  padding: 2px;
}
.container section.footerPets footer ul.ulFooter img:hover {
  box-shadow: 0 0 10px rgb(128, 128, 128);
  border-radius: 2rem;
}
.container section.footerPets footer h1.h1Footer {
  color: rgb(0, 0, 0);
  font-family: "Manjari", sans-serif;
  text-align: center;
  font-size: 1rem;
  padding-top: 15px;
}

.container {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.container div.DogPage {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/dog.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.container section.DogSection {
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.container section.DogSection h1.names {
  font-family: "Chewy", cursive;
  letter-spacing: 1px;
  text-align: center;
  color: #6e68cb;
  font-size: 4em;
  padding-top: 150px;
  position: relative;
  z-index: 2;
}
.container section.DogSection p {
  position: relative;
  color: #000000;
  font-family: "Manjari", sans-serif;
  font-size: 1rem;
  top: 60px;
  left: 330px;
  letter-spacing: 1px;
}
.container section.DogSection p.DogsToCats {
  font-family: "Manjari", sans-serif;
  font-size: 1rem;
  top: 130px;
  left: 600px;
  letter-spacing: 1px;
  color: #6e68cb;
}
.container section.DogSection section.DogsToCatsBtn {
  position: relative;
  left: 690px;
  top: 155px;
  z-index: 5;
  width: 20px;
}
.container section.DogSection section.DogsToCatsBtn button.CatPage {
  background-image: linear-gradient(90deg, #5c88c0 0%, #5021c9 100%);
  border: none;
  color: rgb(255, 255, 255);
  font-family: "Chewy", cursive;
  font-size: 1rem;
  padding: 10px;
  border-radius: 2rem;
  letter-spacing: 1.5px;
  transition: all 200ms linear;
}
.container section.DogSection section.DogsToCatsBtn button.CatPage:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
.container section.DogSection div.wordSection {
  width: 100%;
  height: 40%;
  background-image: url(../images/background.png);
  border-image-repeat: repeat-x;
  position: absolute;
  margin-top: 300px;
  right: 10px;
}
.container section.DogSection div.wordSection div.transparentBack {
  position: relative;
  background-image: linear-gradient(90deg, #142d4d 0%, #5840df 100%);
  width: 900px;
  height: 200px;
  display: flex;
  border-radius: 2rem;
  opacity: 95%;
  top: 45px;
  left: 275px;
  transition: all 0.3s ease-in linear;
}
.container section.DogSection div.wordSection div.transparentBack h1.quoteHome {
  position: relative;
  font-family: "Chewy", cursive;
  color: white;
  font-size: 3rem;
  top: 30px;
  left: 140px;
  text-transform: lowercase;
  letter-spacing: 1.5px;
}
.container section.DogSection div.wordSection div.transparentBack:hover {
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
.container section.footerDogs {
  background-color: #142d4d;
}
.container section.footerDogs footer {
  width: 100%;
  height: 120px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 2000px;
}
.container section.footerDogs footer ul.ulFooter {
  display: flex;
  list-style-type: none;
}
.container section.footerDogs footer ul.ulFooter img {
  position: relative;
  width: 50px;
  height: 50px;
  left: 650px;
  top: 10px;
  padding: 2px;
}
.container section.footerDogs footer ul.ulFooter img:hover {
  box-shadow: 0 0 10px rgb(128, 128, 128);
  border-radius: 2rem;
}
.container section.footerDogs footer h1.h1Footer {
  color: rgb(0, 0, 0);
  font-family: "Manjari", sans-serif;
  text-align: center;
  font-size: 1rem;
  padding-top: 15px;
}

.container {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.container div.CatPage {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/cat.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.container section.CatSection {
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.container section.CatSection h1.names {
  font-family: "Chewy", cursive;
  letter-spacing: 1px;
  text-align: center;
  color: #6e68cb;
  font-size: 4em;
  padding-top: 150px;
  position: relative;
  z-index: 2;
}
.container section.CatSection p {
  position: relative;
  color: #000000;
  font-family: "Manjari", sans-serif;
  font-size: 1rem;
  top: 60px;
  left: 330px;
  letter-spacing: 1px;
}
.container section.CatSection p.DogsToCats {
  font-family: "Manjari", sans-serif;
  font-size: 1rem;
  top: 130px;
  left: 600px;
  letter-spacing: 1px;
  color: #6e68cb;
}
.container section.CatSection section.DogsToCatsBtn {
  position: relative;
  left: 690px;
  top: 155px;
  z-index: 5;
  width: 20px;
}
.container section.CatSection section.DogsToCatsBtn button.CatPage {
  background-image: linear-gradient(90deg, #5c88c0 0%, #5021c9 100%);
  border: none;
  color: rgb(255, 255, 255);
  font-family: "Chewy", cursive;
  font-size: 1rem;
  padding: 10px;
  border-radius: 2rem;
  letter-spacing: 1.5px;
  transition: all 200ms linear;
}
.container section.CatSection section.DogsToCatsBtn button.CatPage:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
.container section.CatSection div.wordSection {
  width: 100%;
  height: 40%;
  background-image: url(../images/background.png);
  border-image-repeat: repeat-x;
  position: absolute;
  margin-top: 300px;
  right: 10px;
}
.container section.CatSection div.wordSection div.transparentBack {
  position: relative;
  background-image: linear-gradient(90deg, #142d4d 0%, #5840df 100%);
  width: 900px;
  height: 200px;
  display: flex;
  border-radius: 2rem;
  opacity: 95%;
  top: 45px;
  left: 275px;
  transition: all 0.3s ease-in linear;
}
.container section.CatSection div.wordSection div.transparentBack h1.quoteHome {
  position: relative;
  font-family: "Chewy", cursive;
  color: white;
  font-size: 3rem;
  top: 30px;
  left: 130px;
  text-transform: lowercase;
  letter-spacing: 1.5px;
}
.container section.CatSection div.wordSection div.transparentBack:hover {
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
.container section.footerCats {
  background-color: #142d4d;
}
.container section.footerCats footer {
  width: 100%;
  height: 120px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 2000px;
}
.container section.footerCats footer ul.ulFooter {
  display: flex;
  list-style-type: none;
}
.container section.footerCats footer ul.ulFooter img {
  position: relative;
  width: 50px;
  height: 50px;
  left: 650px;
  top: 10px;
  padding: 2px;
}
.container section.footerCats footer ul.ulFooter img:hover {
  box-shadow: 0 0 10px rgb(128, 128, 128);
  border-radius: 2rem;
}
.container section.footerCats footer h1.h1Footer {
  color: rgb(0, 0, 0);
  font-family: "Manjari", sans-serif;
  text-align: center;
  font-size: 1rem;
  padding-top: 15px;
}

.container {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.container div.RodentPage {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/hampster.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.container section.RodentSection {
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.container section.RodentSection h1.names {
  font-family: "Chewy", cursive;
  letter-spacing: 1px;
  text-align: center;
  color: #6e68cb;
  font-size: 4em;
  padding-top: 150px;
  position: relative;
  z-index: 2;
}
.container section.RodentSection p {
  position: relative;
  color: #000000;
  font-family: "Manjari", sans-serif;
  font-size: 1rem;
  top: 60px;
  left: 350px;
  letter-spacing: 1px;
}
.container section.RodentSection p.RodentsToQuiz {
  font-family: "Manjari", sans-serif;
  font-size: 1rem;
  top: 130px;
  left: 620px;
  letter-spacing: 1px;
  color: #6e68cb;
}
.container section.RodentSection section.DogsToCatsBtn {
  position: relative;
  left: 690px;
  top: 155px;
  z-index: 5;
  width: 20px;
}
.container section.RodentSection section.DogsToCatsBtn button.CatPage {
  background-image: linear-gradient(90deg, #5c88c0 0%, #5021c9 100%);
  border: none;
  color: rgb(255, 255, 255);
  font-family: "Chewy", cursive;
  font-size: 1rem;
  padding: 10px;
  border-radius: 2rem;
  letter-spacing: 1.5px;
  transition: all 200ms linear;
}
.container section.RodentSection section.DogsToCatsBtn button.CatPage:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
.container section.RodentSection div.wordSection {
  width: 100%;
  height: 40%;
  background-image: url(../images/background.png);
  border-image-repeat: repeat-x;
  position: absolute;
  margin-top: 300px;
  right: 10px;
}
.container section.RodentSection div.wordSection div.transparentBack {
  position: relative;
  background-image: linear-gradient(90deg, #142d4d 0%, #5840df 100%);
  width: 900px;
  height: 200px;
  display: flex;
  border-radius: 2rem;
  opacity: 95%;
  top: 45px;
  left: 275px;
  transition: all 0.3s ease-in linear;
}
.container section.RodentSection div.wordSection div.transparentBack h1.quoteHome {
  position: relative;
  font-family: "Chewy", cursive;
  color: white;
  font-size: 3rem;
  top: 30px;
  left: 200px;
  text-transform: lowercase;
  letter-spacing: 1.5px;
}
.container section.RodentSection div.wordSection div.transparentBack:hover {
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
.container section.footerCats {
  background-color: #142d4d;
}
.container section.footerCats footer {
  width: 100%;
  height: 120px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 2000px;
}
.container section.footerCats footer ul.ulFooter {
  display: flex;
  list-style-type: none;
}
.container section.footerCats footer ul.ulFooter img {
  position: relative;
  width: 50px;
  height: 50px;
  left: 650px;
  top: 10px;
  padding: 2px;
}
.container section.footerCats footer ul.ulFooter img:hover {
  box-shadow: 0 0 10px rgb(128, 128, 128);
  border-radius: 2rem;
}
.container section.footerCats footer h1.h1Footer {
  color: rgb(0, 0, 0);
  font-family: "Manjari", sans-serif;
  text-align: center;
  font-size: 1rem;
  padding-top: 15px;
}

.container {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.container div.quizPage h1.quizH1 {
  font-family: "Chewy", cursive;
  letter-spacing: 1px;
  text-align: center;
  color: #6e68cb;
  font-size: 4em;
  padding-top: 150px;
  position: relative;
  z-index: 2;
}
.container div.quizPage img.dogPaws {
  margin-top: 100px;
  width: 550px;
  height: 550px;
  margin-left: 460px;
}
.container div.quizPage img.QuizPattern1 {
  position: relative;
  height: 250px;
  width: 150px;
  margin-bottom: 370px;
  right: 40px;
  opacity: 50%;
}
.container div.quizPage img.QuizPattern2 {
  position: absolute;
  height: 250px;
  width: 170px;
  top: 700px;
  left: 300px;
  opacity: 50%;
  z-index: 3;
}
.container div.quizPage section.QuizSection {
  width: 100vw;
  height: 200vh;
  background-image: linear-gradient(90deg, #5c88c0 0%, #5021c9 100%);
  margin-top: 100px;
}
.container div.quizPage section.QuizSection h1.whatPet {
  font-family: "Chewy", cursive;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  font-size: 4em;
  padding-top: 150px;
  position: relative;
  z-index: 2;
}
.container div.quizPage section.QuizSection form {
  height: 1000px;
  max-width: 500px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 2rem;
  box-shadow: 0px 0px 20px rgb(80, 80, 80);
  margin-top: 100px;
}
.container div.quizPage section.QuizSection form h2 {
  font-family: "Chewy", cursive;
  letter-spacing: 1px;
  text-align: center;
  color: #6e68cb;
  font-size: 2.5em;
  position: relative;
  z-index: 2;
}
.container div.quizPage section.QuizSection form label {
  top: 20px;
  display: block;
  margin-bottom: 10px;
  font-family: "Manjari", sans-serif;
  padding-left: 20px;
}
.container div.quizPage section.QuizSection form input[type=submit] {
  position: relative;
  background-image: linear-gradient(90deg, #5c88c0 0%, #5021c9 100%);
  border: none;
  color: rgb(255, 255, 255);
  font-family: "Chewy", cursive;
  font-size: 1rem;
  padding: 10px;
  border-radius: 2rem;
  letter-spacing: 1.5px;
  transition: all 200ms linear;
  left: 200px;
  top: 40px;
}
.container div.quizPage section.QuizSection form input[type=submit]:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
  border-radius: 2rem;
}
.container div.quizPage section.QuizSection form body {
  background-color: #f0f0f0;
}
.container div.quizPage section.QuizSection form h1 {
  text-align: center;
  margin-top: 50px;
}
.container div.quizPage section.QuizSection form p {
  margin: 20px;
  font-family: "Manjari", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
.container div.quizPage section.QuizSection form #pet {
  font-size: 36px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.container div.quizPage div.wordSection {
  width: 100%;
  height: 40%;
  background-image: url(../images/background.png);
  border-image-repeat: repeat-x;
  position: absolute;
  margin-top: 250px;
  right: 10px;
}
.container div.quizPage div.wordSection div.transparentBack {
  position: relative;
  background-image: linear-gradient(90deg, #142d4d 0%, #5840df 100%);
  width: 900px;
  height: 200px;
  display: flex;
  border-radius: 2rem;
  opacity: 95%;
  top: 45px;
  left: 275px;
  transition: all 0.3s ease-in linear;
}
.container div.quizPage div.wordSection div.transparentBack h1.quoteHome {
  position: relative;
  font-family: "Chewy", cursive;
  color: white;
  font-size: 3rem;
  top: 30px;
  left: 350px;
  text-transform: lowercase;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.container div.quizPage div.wordSection div.transparentBack:hover {
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
.container div.quizPage section.QuizPageBtn {
  position: relative;
  left: 690px;
  top: 450px;
  z-index: 5;
  width: 20px;
}
.container div.quizPage section.QuizPageBtn button.Contact {
  border: none;
  color: rgb(255, 255, 255);
  font-family: "Chewy", cursive;
  font-size: 1rem;
  padding: 10px;
  border-radius: 2rem;
  letter-spacing: 1.5px;
  transition: all 200ms linear;
  background-color: white;
  color: #5021c9;
}
.container div.quizPage section.QuizPageBtn button.Contact:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(34, 34, 34);
}
.container section.footerQuiz {
  background-color: #142d4d;
}
.container section.footerQuiz footer {
  width: 100%;
  height: 120px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 3000px;
}
.container section.footerQuiz footer ul.ulFooter {
  display: flex;
  list-style-type: none;
}
.container section.footerQuiz footer ul.ulFooter img {
  position: relative;
  width: 50px;
  height: 50px;
  left: 650px;
  top: 10px;
  padding: 2px;
}
.container section.footerQuiz footer ul.ulFooter img:hover {
  box-shadow: 0 0 10px rgb(128, 128, 128);
  border-radius: 2rem;
}
.container section.footerQuiz footer h1.h1Footer {
  color: rgb(0, 0, 0);
  font-family: "Manjari", sans-serif;
  text-align: center;
  font-size: 1rem;
  padding-top: 15px;
}

.container {
  width: 100%;
  height: 100vh;
}
.container body {
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
}
.container h1.quizResults {
  text-align: center;
  margin-top: 50px;
  color: #5835b2;
  font-family: "Chewy", cursive;
  font-size: 4.5rem;
  letter-spacing: 1.5px;
}
.container p.resultP {
  margin: 20px;
  font-size: 24px;
  text-align: center;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  font-family: "Manjari", sans-serif;
}
.container #pet {
  font-family: "Manjari", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #5021c9;
  text-transform: uppercase;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.container img.ContactCat {
  width: 500px;
  height: 500px;
  z-index: 6;
  top: 300px;
  position: absolute;
  left: 850px;
}
.container img.ContactDots1 {
  position: absolute;
  width: 150px;
  height: 250px;
  z-index: 6;
  top: 100px;
  margin-left: 800px;
  opacity: 50%;
}
.container img.ContactDots2 {
  position: absolute;
  width: 150px;
  height: 230px;
  z-index: 7;
  top: 700px;
  margin-left: 1300px;
  opacity: 50%;
}
.container div.contactPage {
  position: relative;
  background-image: linear-gradient(90deg, #142d4d 0%, #5840df 100%);
  width: 50vw;
  height: 90vh;
  border-radius: 2rem;
  top: 50px;
  left: 40px;
}
.container div.contactPage h1.contactUsH1 {
  text-align: center;
  margin-top: 50px;
  color: #ffffff;
  font-family: "Chewy", cursive;
  font-size: 4.5rem;
  letter-spacing: 1.5px;
}
.container div.contactPage form {
  width: 40vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 2rem;
}
.container div.contactPage form label {
  padding-top: 40px;
  display: block;
  margin-bottom: 10px;
  color: white;
  font-family: "Manjari", sans-serif;
  font-size: 1.5rem;
}
.container div.contactPage form input[type=text],
.container div.contactPage form input[type=email],
.container div.contactPage form textarea {
  font-family: "Manjari", sans-serif;
  top: 40px;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}
.container div.contactPage form input[type=text]:focus,
.container div.contactPage form input[type=email]:focus,
.container div.contactPage form textarea:focus {
  width: 100%;
  border: none;
  outline: 0;
  background-color: #bdbdbd;
}
.container div.contactPage form textarea {
  height: 150px;
}
.container div.contactPage form button[type=submit] {
  margin-left: 230px;
  width: 20%;
  border: none;
  color: rgb(255, 255, 255);
  font-family: "Chewy", cursive;
  font-size: 1rem;
  padding: 10px;
  border-radius: 2rem;
  letter-spacing: 1.5px;
  transition: all 200ms linear;
  background-color: white;
  color: #5021c9;
  margin-top: 20px;
}
.container div.contactPage form button[type=submit]:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(34, 34, 34);
}
.container div.contactPage div.wordSection {
  width: 100vw;
  height: 40%;
  background-image: url(../images/background.png);
  border-image-repeat: repeat-x;
  position: absolute;
  margin-top: 250px;
}
.container div.contactPage div.wordSection div.transparentBack {
  position: relative;
  background-image: linear-gradient(90deg, #142d4d 0%, #5840df 100%);
  width: 900px;
  height: 200px;
  display: flex;
  border-radius: 2rem;
  opacity: 95%;
  top: 45px;
  left: 275px;
  transition: all 0.3s ease-in linear;
}
.container div.contactPage div.wordSection div.transparentBack h1.quoteHome {
  position: relative;
  font-family: "Chewy", cursive;
  color: white;
  font-size: 3rem;
  top: 30px;
  left: 200px;
  text-transform: lowercase;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.container div.contactPage div.wordSection div.transparentBack:hover {
  background-image: linear-gradient(225deg, #e568b1 0%, #784BA0 50%, #2B86C5 100%);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
.container section.footerContact {
  background-color: #142d4d;
}
.container section.footerContact footer {
  width: 100%;
  height: 120px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 1400px;
}
.container section.footerContact footer ul.ulFooter {
  display: flex;
  list-style-type: none;
}
.container section.footerContact footer ul.ulFooter img {
  position: relative;
  width: 50px;
  height: 50px;
  left: 650px;
  top: 10px;
  padding: 2px;
}
.container section.footerContact footer ul.ulFooter img:hover {
  box-shadow: 0 0 10px rgb(128, 128, 128);
  border-radius: 2rem;
}
.container section.footerContact footer h1.h1Footer {
  color: rgb(0, 0, 0);
  font-family: "Manjari", sans-serif;
  text-align: center;
  font-size: 1rem;
  padding-top: 15px;
}/*# sourceMappingURL=style.css.map */